* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Afacad", sans-serif;
}

:root {
    --bg-color: #111111;
    --text-color: #fff;
    --mains-color: #333333;
    --other-color: #8e8e8e;
    --second-color: #1d1d1d;

    --h1-font: 6rem;
    --p-font: 14px;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 25px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.6s ease;
}

.logo img {
    width: 100%;
    height: auto;
}

.navbar {
    display: flex;
}

.navbar a {
    display: inline-block;
    font-size: var(--p-font);
    font-weight: 400;
    color: var(--other-color);
    margin: 0 35px;
    padding: 4px 0;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: transform 0.5s ease;
}

.navbar a:hover {
    border-bottom: 2px solid var(--other-color);
    color: var(--other-color);
    cursor: pointer;
    transform: scale(1.1) translateY(-6px);
}

.nav-right i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: var(--mains-color);
    color: var(--other-color);
    margin: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s ease;

}

.nav-right i:hover {
    background: var(--second-color);
    color: var(--text-color);
}

#menu-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    background: var(--mains-color);
    color: var(--other-color);
    margin: 0 10px;
    border-radius: 10px;
    font-size: 20px;
    transition: all 0.5s ease;
    display: none;
}

section {
    padding: 0 15%;
}

.hero {
    height: 100vh;
    width: 100%;
    background: url(img/bg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.hero-img img {
    width: 100%;
    height: auto;
    margin-top: 120px;
    object-fit: contain;
}

.hero-text h1 {
    font-size: var(--h1-font);
    line-height: 1.1;
    margin-top: 120px;
    text-transform: uppercase;
}

.hero-text p {
    width: 100%;
    max-width: 500px;
    font-size: var(--p-font);
    color: var(--other-color);
    margin-bottom: 10px;
    line-height: 30px;
}

.hero-text h5 {
    font-size: 35px;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.btn {
    display: inline-block;
    padding: 16px 35px;
    font-size: 12px;
    color: var(--text-color);
    background-color: var(--mains-color);
    border-radius: 10px;
    margin-right: 20px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.btn:hover {
    background: var(--text-color);
    color: var(--bg-color);
}

.btn-2 {
    display: inline-block;
    font-size: 12px;
    color: var(--text-color);
    border-bottom: 2px solid var(--text-color);
    transition: all 0.5s ease;
}

.btn-2:hover {
    transform: scale(1.1) translateY(-6px);
}

.content {
    position: absolute;
    top: 60%;
    left: 9%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.content li img {
    height: 100%;
    max-width: 100%;
}

.box {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--second-color);
    border: 1px solid var(--mains-color);
    cursor: pointer;
    transition: transform 0.5s ease;
}

.box:hover {
    transform: translateY(-7px);
    background: var(--text-color);
}
@media (max-width: 1780px) {
    header {
        padding: 22px 4%;
    }

    .content {
        left: 4%;
    }

    section {
        padding: 0 10%;
    }

    .scroll {
        right: 4%;
    }

    /* Oculta a barra de rolagem */
    html {
        scrollbar-width: none; /* Firefox */
    }
    body {
        overflow: auto; /* Mantém a rolagem */
        -ms-overflow-style: none; /* Internet Explorer e Edge */
    }
    body::-webkit-scrollbar {
        display: none; /* Chrome, Safari e Edge */
    }
}

@media (max-width: 1570px) {
    .hero-img {
        width: 650px;
        height: 600px;
        object-fit: contain;
    }

    .box {
        height: 70px;
        width: 70px;
    }

    :root {
        --h1-font: 5rem;
        --p-font: 1rem;
    }

    /* Oculta a barra de rolagem */
    html {
        scrollbar-width: none;
    }
    body {
        overflow: auto;
        -ms-overflow-style: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1370px) {
    .hero-img {
        width: 600px;
        height: 550px;
        object-fit: contain;
    }

    :root {
        --h1-font: 4rem;
    }

    /* Oculta a barra de rolagem */
    html {
        scrollbar-width: none;
    }
    body {
        overflow: auto;
        -ms-overflow-style: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1210px) {
    #menu-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        margin-right: 15px;
    }

    .nav-right {
        margin-right: 20px;
    }

    .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(30px);
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 130px;
        transition: all 0.5s ease;
    }

    .navbar a {
        display: block;
        margin: 15px 0;
        font-size: 1.2rem;
    }

    .navbar.open {
        right: 0;
    }

    /* Oculta a barra de rolagem */
    html {
        scrollbar-width: none;
    }
    body {
        overflow: auto;
        -ms-overflow-style: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 1160px) {
    header {
        padding: 10px 4% !important;
    }

    section {
        padding: 30px 8% !important;
    }

    .box {
        height: 60px !important;
        width: 60px !important;
    }

    .hero {
        height: auto !important;
        grid-template-columns: 1fr !important;
        gap: 5px !important;
    }

    .hero-img {
        text-align: center;
        padding-top: 30px;
    }

    .hero-img img {
        width: 500px;
        height: auto;
        max-width: 100%;
    }

    .hero-text h1 {
        text-align: center;
        margin: 0;
    }

    .hero-text {
        text-align: center;
    }

    .hero-text p {
        margin: 10px auto;
    }

    .hero-text h5 {
        font-size: 24px;
    }

    /* Oculta a barra de rolagem */
    html {
        scrollbar-width: none;
    }
    body {
        overflow: auto;
        -ms-overflow-style: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 600px) {
    .box {
        height: 50px;
        width: 50px;
    }

    .content {
        gap: 18px;
    }
    :root{
        --h1-font: 3.2rem
    }

    html {
        scrollbar-width: none;
    }
    body {
        overflow: auto;
        -ms-overflow-style: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }
}
